<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spec Export - Sketch Measure 2.4</title>
    <link rel="stylesheet" href="http://wedesign.oa.com/static/assets/normalize.css">
    <link rel="stylesheet" href="http://wedesign.oa.com/static/assets/index.css">
    <script type="text/javascript" src="http://wedesign.oa.com/static/assets/jQuery.js"></script>
    <script type="text/javascript" src="http://wedesign.oa.com/static/assets/index.js"></script>
    <script type="text/javascript">
      $(function(){
        SMApp(__data__)
      });
    </script>
</head>
  <!-- All codes from sketch-measure. https://github.com/utom/sketch-measure -->
  <!-- Thanks. -->
  <body id="app"></body>
</html>
